body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

section {
    padding: 50px;
    max-width: 900px;
    margin: auto;
}

.hero {
    text-align: center;
    background: #1e293b;
    padding: 100px 20px;
}

h1 {
    font-size: 42px;
}

h2 {
    border-bottom: 2px solid #38bdf8;
    padding-bottom: 10px;
}

ul {
    line-height: 1.8;
}
